$font-styles: 'Quicksand',
sans-serif;
$color-light: #f3f4ed;
$color-dark: #536162;
$color-darker: #424642;
$color-orange: #c06014;

* {
  margin: 0;
  padding: 0;
}

.fort-image {
  padding: 0 !important;

  // margin-bottom: 25px;
}



.active-link {
  background-color: $color-orange;
  border-radius: 10px;

  a {
    color: white !important;
  }

  &:hover {
    background-color: lighten($color: $color-orange, $amount: 4) !important;
  }
}

ul {
  li {
    margin-right: 20px;
    font-family: $font-styles;
    text-align: center;
  }

  a {
    color: $color-darker !important;
  }
}

.unactive:hover {
  color: $color-orange !important;
}

h1 {
  font-family: $font-styles;
  text-transform: uppercase;
  letter-spacing: 3px;
  border-bottom: solid $color-orange;
}

p {
  font-family: $font-styles;
  font-weight: lighter;
}

header {
  padding-top: 10px;
  background-color: $color-light;
}

body {
  background-color: $color-light;
  color: $color-dark;

}

h2 {
  font-family: $font-styles;
  letter-spacing: 2;
}

.main-about {
  margin-top: 150px;
  color: $color-darker;

  p {
    color: darken($color:$color-darker, $amount: 5);
  }
}

#portrait {
  max-width: 30vh;
  margin-bottom: 10px;
}

ul .disabled {
  color: lighten($color: $color-dark, $amount: 5) !important;
}

.forms {
  margin-top: 100px;

  .form-group {
    margin-bottom: 10px;
  }

  .btn {
    margin-top: 20px;
    background-color: $color-dark;
    color: white;

    &:hover {
      background-color: darken($color: $color-orange, $amount: 3);
    }
  }
}

.goals-content {
  h3 {
    color: white;
    background-color: $color-orange;
    padding: 5px;
  }
}



// #midwestmap {
//   fill: red;
// }

// #OH {
  
//   &:hover {
//     fill: red;
//   }
// }

#OH, #IN, #IL, #MI, #MN, #ND, #SD, #MO, #KS, #IA, #NE, #WI  {
  // fill: #cccccc;
  fill: #aaaaaa;
}


#OH {

  &:hover {
    fill: #432771;
  }
}


#IN {

  &:hover {
    fill: #f7bc17;
  }
}


#IL {

  &:hover {
    fill: #53b35a;
  }
}


#MO {

  &:hover {
    fill: #1aa9a9;
  }
}


#MI {

  &:hover {
    fill: #625d59;
  }
}


#KS {

  &:hover {
    fill: #e9565e;
  }
}


#NE {

  &:hover {
    fill: #a3ce65;
  }
}


#IA {

  &:hover {
    fill: #8f7d71;
  }
}


#SD {

  &:hover {
    fill: #f7bc17;
  }
}


#WI {

  &:hover {
    fill: #e3595e;
  }
}


#ND {

  &:hover {
    fill: #246cb6;
  }
}


#MN {

  &:hover {
    fill: #7f4f99;
  }
}


.svgArticle {
  margin-top: 25vh;
  margin-left: 25vh;
}

svg {
  transform: scale(1.75);
  // height: 50vh;
  // width: 50vh;
}



#mapInfo {
  margin-top: 150px;
  margin-left: 20px;
  width: 90%;
  // display: flex;
  // justify-content: center;

}
